  <Layouts.app flash={@flash}>
    <.header>Crypto Prices</.header>
      <.table
        id="prices"
        rows={@streams.coins}
      >
        <:col :let={{_id, coin}} label="code">{coin.code}</:col>
        <:col :let={{_id, coin}} label="Name">{coin.name}</:col>
        <:col :let={{_id, coin}} label="Price" style="text-align: right;">{coin.price_display}</:col>
        <:col :let={{_id, coin}} label="Diff">{coin.diff}</:col>
      </.table>
    </Layouts.app>