<h1>Crypto Prices</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Current Price</th>
    </tr>
  </thead>
  <tbody id="prices">
    <%= for {code, price} <- @coins do %>
      <tr id={"coin-#{code}"}>
        <td><%= code %></td>
        <td align="right"><%= Prices.format(price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
